var/cache/
var/log/*
var/session/*
var/locks/
var/report/*
var/full_page_cache
var/report/
var/simpleup/
var/urapidflow/
var/arvato/
var/logging/
var/debug/
var/export/
var/serialnumber_upload/
var/resource_config.json
errors/local.xml
media/catalog
media/wysiwyg
media/js
media/favicon
