<?xml version="1.0"?>
<config>
    <modules>
        <Envato_Catalog>
            <version>1.0</version>
        </Envato_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <category_view>Envato_Catalog_Block_Category_View</category_view>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <category>Envato_Catalog_Model_Category</category>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>
